cached-property
# docutils - removed due to unfixable "Duplicate implicit target name"
flake8
modernize
multilint
# pygments - removed due to unfixable "Duplicate implicit target name"
pytest
pytest-cov
requests
responses
