black ; python_version == '3.8.*'
cached-property
docutils
flake8
flake8-bugbear
flake8-comprehensions
flake8-tidy-imports
isort
multilint
pygments
pytest
pytest-cov
pytest-randomly
requests
requests-mock
secretstorage # required for twine on linux
twine
